<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Generation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form method="post">
        User, what type of document do you want?<br>
        <input type="radio" id="docTypeProposal" name="docType" value="proposal">
        <label for="docTypeProposal">Proposal</label><br>
        <input type="radio" id="docTypeOther" name="docType" value="">
        <label for="docTypeOther">Other: <input name="docTypeOther"></label><br>
        <br>
        User, who is the client?<br>
        <input name="clientType"><br>
        <br>
        User, who is the firm?<br>
        <input name="firmType"><br>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>